:root {
    --font-family-base: roboto, sans-serif;
    --font-size-m: 1.6rem;
    --font-line-m: 2.4rem;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-base);
    --font-size-l: 2.4rem;
    --font-line-l: 3.2rem;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-base);
    --navbar-height: 5rem;
    --sidebar-width: 30rem;
    --sidebar-width-collapsed: 6rem;
    --main-padding: 2rem 2rem;
}

* {
    transition: background-color 0.3s, border 0.3s;
}

img {
    max-width: 100%;

    /* For dark mode */
    filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

html {
    font-size: 62.5%;
}

button:has(svg) {
    line-height: 0;
}

svg {
    height: 100%;
    width: 100%;
}

.app {
    font: var(--font-m);
    color: var(--color-grey-700);
    background: var(--color-grey-50);
    min-height: 100vh;
}

.app-layout {
    display: flex;
}

.page {
    flex-grow: 1;
    padding: var(--main-padding);
}
