:root {
    --font-family-base: roboto, sans-serif;
    --font-size-s: 1.2rem;
    --font-line-s: 1.6rem;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-base);
    --font-size-m: 1.6rem;
    --font-line-m: 2.4rem;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-base);
    --font-size-l: 2.4rem;
    --font-line-l: 3.2rem;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-base);
    --navbar-height: 7rem;
    --sidebar-width: 24rem;
    --sidebar-width-collapsed: 6.4rem;
    --p-vs: 0.4rem 0.4rem;
    --p-s: 1rem 1rem;
    --p-m: 2rem 2rem;
    --p-l: 3rem 3rem;
    --px-vs: 0.4rem;
    --px-s: 1rem;
    --px-m: 2rem;
    --px-l: 3rem;
    --py-vs: 0.4rem;
    --py-s: 1rem;
    --py-m: 2rem;
    --py-l: 3rem;
    --m-s: 1rem 1rem;
    --m-m: 2rem 2rem;
    --m-l: 3rem 3rem;
    --mx-es: 0.5rem;
    --mx-s: 1rem;
    --mx-m: 2rem;
    --mx-l: 3rem;
    --my-es: 0.5rem;
    --my-s: 1rem;
    --my-m: 2rem;
    --my-l: 3rem;
    --g-es: 0.4rem;
    --g-s: 1rem;
    --g-m: 2rem;
    --g-l: 3rem;
    --svg-h-s: 2.1rem;
    --svg-w-s: 2.1rem;
    --border-radius-s: 4px;
    --border-radius-m: 8px;
    --z-index-modal: 1000;
    --overlay-bg: rgb(0 0 0 / 0.4);
    --overlay-bg-start: rgb(0 0 0 / 0);
    --color-brand: #2563eb;
    --color-brand-hover: #3b82f6;
    --page-content-width-normal: 94rem;
    --scrollbar-width: 0.8rem;
}
