.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--color-grey-0);
    border-right: 1px solid var(--color-grey-100);
    padding: var(--p-s);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--g-s);
    transition: width 0.3s, background-color 0.3s, border 0.3s, transition 0.3s;
    flex-shrink: 0;
    overflow: hidden;
}

.switchers {
    display: flex;
    gap: var(--g-s);
    width: 100%;

    button {
        flex-shrink: 0;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: var(--g-s);
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--g-s);
    }
}
