.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--color-grey-0);
    border-right: 1px solid var(--color-grey-100);
    padding: var(--p-s);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--g-s);
    transition: width 0.3s, background-color 0.3s, border 0.3s, transition 0.3s;
}

.switchers {
    display: flex;
    gap: var(--g-s);
    width: 100%;

    button {
        flex-shrink: 0;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    span {
        opacity: 0;
        width: 0;
    }

    a {
        gap: 0;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: var(--g-s);
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--g-s);
    }

    a {
        padding: var(--p-s);
        border-radius: var(--border-radius-sm);
        display: flex;
        align-items: center;
        gap: var(--g-s);
        font-weight: 500;
        opacity: 1;

        span {
            display: inline-block;
            white-space: nowrap;
        }

        &:hover {
            background-color: var(--color-grey-100);
        }

        svg {
            flex-shrink: 0;
            height: 2.1rem;
            width: 2.1rem;
        }
    }
}
