.listItem {
    display: flex;
    flex-direction: column;
    gap: var(--g-s);

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .infoText {
        font-weight: 700;
    }

    .view {
        display: flex;
        align-items: center;
        gap: var(--g-es);
        opacity: 0.8;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .readBtn {
        align-self: flex-end;
    }
}

.tileItem {
    display: flex;
    flex-direction: column;
    gap: var(--g-es);
    width: 30rem;

    .img {
        aspect-ratio: 1/1;
        flex-shrink: 0;

        img {
            object-fit: cover;
            object-position: center;
        }
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--g-es);
    }

    .infoText {
        font-size: var(--font-size-s);
        font-weight: 700;
        max-width: 200rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .view {
        display: flex;
        align-items: center;
        gap: var(--g-es);
        opacity: 0.8;

        p {
            font-size: var(--font-size-s);
        }

        svg {
            width: 1.4rem;
            height: 1.4rem;
        }
    }

    .boldTitle {
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: var(--g-s);
    }

    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .bottom {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn {
        margin-top: var(--my-m);
    }
}
