.title {
    font: var(--font-l);
    font-weight: 700;
}

.text {
    font: var(--font-m);
}

.primary {
    color: var(--color-grey-700);
}

.error {
    color: var(--color-red-700);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
