.flex {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.vertical {
    flex-direction: column;
}

.lang {
    text-transform: uppercase;
    font: var(--font-s);
    font-weight: 700;
}
