.AppButton {
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius-s);
}

.svg-with-span {
    padding: var(--p-s);
    background-color: var(--color-grey-0);
    color: var(--color-grey-700);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--g-s);

    span {
        text-transform: uppercase;
        font: var(--font-s);
        font-weight: 700;
    }

    svg {
        width: var(--svg-w-s);
        height: var(--svg-h-s);
    }

    &:hover {
        background-color: var(--color-grey-100);
    }
}

.regular {
    background-color: var(--color-brand);
    color: var(--color-grey-50);
    padding: var(--px-vs) var(--py-m);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 8.55rem;

    &:hover {
        background-color: var(--color-brand-hover);
    }
}

.confirm {
    background-color: var(--color-green);
    color: var(--color-grey-50);
    padding: var(--px-vs) var(--py-m);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 8.55rem;

    &:hover {
        background-color: var(--color-green-hover);
    }
}
