.Modal {
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: var(--overlay-bg-start);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(0);
    transition: background-color 0.3s, backdrop-filter 0.3s;
}

.content {
    border-radius: var(--border-radius-sm);
    background-color: var(--color-grey-50);
    font: var(--font-m);
    color: var(--color-grey-700);
    border: 1px solid var(--color-grey-100);
    width: 60%;
    padding: var(--main-padding);
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--z-index-modal);

    .content {
        transform: scale(1);
        opacity: 1;
    }

    .overlay {
        background-color: var(--overlay-bg);
        backdrop-filter: blur(5px);
    }
}

.closing {
    .content {
        transform: scale(0.9);
        opacity: 0;
    }

    .overlay {
        background-color: var(--overlay-bg-start);
        backdrop-filter: blur(0);
    }
}
