.AppButton {
    cursor: pointer;
    overflow: hidden;
    padding: 2rem !important;
}

.clear {
    border: none;
    background: none;
}

.outline {
    border: 1px;
}

.icon {
    padding: 1rem;
    border: none;
    background-color: var(--color-grey-0);
    color: var(--color-grey-700);
    border-radius: 50%;

    svg {
        width: 2.4rem;
        height: 2.4rem;
    }

    &:hover {
        background-color: var(--color-grey-100);
    }
}
