.AppButton {
    cursor: pointer;
    overflow: hidden;
}

.clear {
    border: none;
    background: none;
}

.outline {
    border: 1px;
}

.icon {
    padding: var(--p-s);
    border: none;
    background-color: var(--color-grey-0);
    color: var(--color-grey-700);
    border-radius: var(--border-radius-sm);

    svg {
        width: 2.1rem;
        height: 2.1rem;
    }

    &:hover {
        background-color: var(--color-grey-100);
    }
}
